@import "styles/abstracts/variables"
@import "styles/abstracts/mixins"

.bill

  display: flex
  flex-direction: column
  padding: 2rem


  &__wrapper
    display: flex
    gap: 2rem
    //flex-wrap: wrap
    &_item
      width: 50%
      display: flex
      flex-wrap: wrap
      gap: 2rem

    .box
      //width: 150px
      max-height: 150px

      padding: 3rem
      flex-wrap: wrap
      max-width: 240px
      border-radius: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      cursor: pointer
      border: 1px solid
      position: relative

      &:hover .popup
        opacity: 1
        visibility: visible

      h2
        width: 100%


        overflow: hidden
        text-overflow: ellipsis

      .popup
        width: max-content
        max-width: 30rem
        visibility: hidden
        opacity: 0
        background-color: grey
        padding: .5rem 1rem
        border-radius: 5px
        position: absolute
        top: 70%
        left: 50%
        transform: translateX(-50%)
        z-index: 200
        color: white
        transition: all .1s


  .plus_main
    display: flex
    justify-content: space-between
    align-items: center
    &>div
      display: flex
      align-items: center
      justify-content: center

.plus
  width: 5rem
  height: 5rem
  background-color: $color-main
  border-radius: 50%
  display: flex
  align-self: flex-end
  align-items: center
  justify-content: center
  transition: all .2s
  @include btn-active

  i
    font-size: 2.5rem

.billProfile
  padding: 2rem

  .header
    padding: 2rem

    h2

      font-size: 2.5rem


  .backBtn
    width: fit-content
    height: fit-content
    padding: .7rem 2rem
    font-size: 1.6rem
    color: white
    background-color: $color-grey-dark
    border-radius: 15px
    cursor: pointer
    user-select: none
    transition: all .6s
    display: flex
    align-items: center
    justify-content: center

    i
      font-size: 1.8rem
      color: white
      margin-right: 1rem

    &:hover
      background-color: $color-main-dark
      box-shadow: 0 0 7px 1px $color-main-light

    &:active
      transform: scale(.9)

.modal
  margin: 0 auto
  width: fit-content
  padding: 2rem
  background-color: white
  border-radius: 15px
  display: flex
  flex-direction: column
  gap: 1rem

  input
    width: 30rem !important
.active
  background-color: #00c2ff!important
.change
  width: fit-content!important
.add , .change
  width: 50rem
  max-height: 60rem
  background-color: white
  border-radius: 15px
  padding: 2rem

  form
    display: flex
    flex-direction: column
    gap: 1rem

    .debtor_type
      display: flex
      gap: 2rem

    .payment_type
      display: flex
      gap: 2rem


.bill_info
  display: none
  opacity: 0
  width: 100%
  transition: all 1s


.typePayment
  border: 1px solid $color-grey-dark
  border-radius: 15px
  color: $color-grey-dark
  text-transform: capitalize
  padding: 0.5rem 1.5rem
  transition: all .2s

  &:hover
    border: 1px solid $color-main-dark
    box-shadow: 0 0 13px 1px $color-main-light
    color: $color-main-dark
    background-color: white

  &:active
    transform: scale(0.9)

.table
  max-height: 60rem
  overflow: auto

  &::-webkit-scrollbar
    width: 3px
    background-color: grey

.bill_active
  opacity: 1
  display: flex
  width: 100%
  transition: all 1s

.delete
  i
    color: red
    font-size: 2.5rem

.add_icon
  i
    color: $color-main
    font-size: 2.5rem

.billFilter
  display: flex
  align-items: center
  justify-content: flex-end
  gap: 2rem


.tables
  display: flex
  gap: 2rem
  margin-top: 2rem
  .item
    width: 50%
    display: flex
    flex-direction: column
    &_header
      display: flex
      align-items: center
      justify-content: space-between
      h2
        font-size: 2.5rem
.types
  display: flex
  gap: 2rem
  label
    width: fit-content
    input
      width: 2rem !important